.cards{
    & h1{
        text-align: center;
        background-color: darkslateblue;
        color: black;
        padding: 2vh 0;
        font-style: italic;
         text-shadow: 1px 1px 2px white;
    }
    & span{
            color: white;
            text-shadow: 1px 1px 2px red;


         }
& .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    


    & .card{
        border: solid 1px black;
        box-shadow: 1px 1px 10px white;
        width:400px;
        margin: 5vh auto;
        border-radius: 10%;
        background-color: rgb(7, 5, 5);
        }
        
       & img{
        height:25vh;
        width:20vw;
        display: block;
        margin: 2vh auto;
        border-radius: 10%;
        box-shadow: 1px 1px 10px white;


     }
       
     & .title{
        text-align: center;
        color: white;
        
        font-weight:800;
        margin: 2vh auto;

     }
     & .desc{
          color: white;
        text-align: justify;
        font-weight: 100;


     }
}
     

}